*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tagesschrift&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Tagesschrift", system-ui;
}

html {
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    color: black;
}

.orden{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/**-----------------HEADER--------------------*/



.llamativo h1{
    text-align: center;
}

header h1{
    position: fixed;
    text-align: center;
    top: 0;
    left: 5px;
    font-size: 18px;
    color: white;
}

/*?---------------NAVBAR--------------?*/

header{
    background-color: black;
}

.navbar-brand{
    color: white !important;
}
.nav-link{
    color: white !important;
}

.navbar-toggler{
    background-color: rgb(255, 175, 0)
}

.boton-navbar{
    color: white;
    border: 3px solid rgb(255, 175, 0);
}

.boton-navbar:hover{
    background-color: rgb(255, 175, 0) ;
}

/*!--------------------------MAIN---------------------!*/

.hero{
    width: 100%;
    height: 500px;
    text-align: center;
    color: white;
    background-image: url(../Images/interior-tienda-de-ropa) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h2{
    width: 100%S ;
}

.hero h2{
    color: white;
}

.comienzo h1{
    margin-top: 5px;
    text-align: center;
}

.comienzo h5{
    text-align: center;
}

.mapa{
    display: flex;
    justify-content: center;
}

.servicios-1 h2{
    margin-top: 30px;
}

.servicios-1 p{
    font-size: 22px;
    text-align: center;
}

.servicios-1 span{
    color: black;
    font-size: 40px;
}

.formulario{
    margin: 30px;
}


/*?---------CARDS Y MAS--------------*/

.destacados1 div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.destacados1 h2{
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
}

.destacados1 article img{
    width: 200px;
    height: 200px;
}



.destacados1 article{
    width: 252px;
    height: 350px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}

.destacados1 article h3{
    margin: 10px;
}

.destacados1 article a{
    color: yellow;
    background-color: black;
    text-decoration: none;
}



/**--------------CONTENEDOR-------**/
.grid-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 5px;
    margin: 30px;
}

.img-2{
    grid-column: span 2;
}

.img-3{
    grid-column: span 2;
}

.img-4{
    grid-row: span 2;
}

.grid-items{
    font-size: 30px;
    text-align: center;
}

.grid-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*?------------FOOTER------------------*/


.separacion{
    border-top: solid 2px;
    width: 100%;
}
.footer{
    margin-top: 80px;
}
.textofoter{
    margin-top: 25px;
}

