*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.orden{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer'
}

header{
    grid-area: header;
    padding: 20px;
}

main{
    grid-area:main;
    
}


footer{
    grid-area:footer ;
    padding: 20px;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tagesschrift&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    font-family: "Tagesschrift", system-ui;
}

html{
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    color: black;
}

header{
    background-color: black;
}


