*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.orden{
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer'
}

header{
    grid-area: header;
    padding: 20px;
}

main{
    grid-area:main;
    
}


footer{
    grid-area:footer ;
    padding: 20px;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tagesschrift&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    font-family: "Tagesschrift", system-ui;
}

html{
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    color: black;
}

header{
    background-color: black;
}

.desstacados1 h2 {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
}
.desstacados1 div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.desstacados1 div article {
    width: 252px;
    height: 350px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}
.desstacados1 div article img {
    width: 200px;
    height: 200px;
}
.desstacados1 div article h3 {
    margin: 10px;
}
.desstacados1 div article a {
    padding: 8px;
    color: yellow;
    background-color: black;
    text-decoration: none;
}

.horarios {
    div{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    article{
        display: flex;
        justify-content: center;
    }
}